@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: black;
  overflow-y: scroll;
}

body {
  background: black;
}

.nav-button {
  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  border: none;
  outline: none;

  padding: 0;
  margin: 0;

  transform: translateY(-50%);

  -webkit-tap-highlight-color: transparent;
  backface-visibility: hidden;
  will-change: transform;
}

.nav-icon {
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition:
    transform 0.14s cubic-bezier(0.22,1,0.36,1);

  transform-origin: center;
  backface-visibility: hidden;
  will-change: transform;
}

.nav-button:hover .nav-icon {
  transform: scale(1.12);
}
.recharts-dot {
  display: none !important;
}


.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255,255,255,0.22) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  margin: 16px 0;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.22);
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}